* {
    font-family: "arial"
}

body {
    background-image: url("./assets/background.jpg");
    background-attachment: fixed;
}

#alert {
    display: none;
}

.tAlert {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.loginForm {
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    background-color: white;
    margin-top: 30px;
}

.signupForm {
    border: solid;
}

.managerPanel {
    background-color: gold;
    padding: -50px;
    text-align: center;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.managerPanel:hover {
    background-color: rgb(255, 233, 107);
    transition: .5s;
}

.driverPanel {
    background-color: #fb7d32;
    padding: -50px;
    text-align: center;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.driverPanel:hover {
    background-color: #ff9152;
    transition: .5s;
}

.topRow {
    margin-top: 70px;
}

.nav-link {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}

.whitebg {
    background-color: white;
}

.navigationBar {
    background-color: gold;
    margin-bottom: 40px;

}

.noMatch {
    text-align: center;
}

.submitBtn {
    background-color: gold;
    border-radius: 5px;
    text-align: center;
}

.logOutBtn {
    float: right;
    color: purple;
}

.signInStatus {
    float: right;
    width: 45%;
}

.backBtn {
    background-color: gold;
    border-radius: 5px;
    margin-bottom: 20px;
}

.jobForm {
    padding: 5px;
    margin-bottom: 18px;
    width: 100%;
}

.jobCtitle {
    margin: 20px;
    text-align: center;
}

.jobTitle {
    margin: 20px;
}

.jobBtn {
    width: 200px;
}

.heading {
    background-color: white;
    border: solid;
    border-width: 2px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px;
}

.jobBtnBar {
    font-size: larger;
}

.jobCard {
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
}

.logo {

    top: 5px;
    width: 100px;
    position: absolute;

}

.managerCheck {
    text-align: center;
}

.welcomeNav {
    font-size: 20px;
    padding-bottom: -20px;
}

.menuIcon {
    width: 150px;
}

.actionTitles {
    margin-top: 20px;
}

.jobDate {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

#map {
    background-color: grey;
}