* {
    font-family: "arial"
}

body {
    background-image: url("./assets/background.jpg");
    background-attachment: fixed;
}

#alert {
    display: none;
}

.tAlert {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 100px;
}

.loginForm {
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    background-color: white;
}

.signupForm {
    border: solid;
}

.managerPanel {
    background-color: gold;
    padding: -50px;
    text-align: center;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.managerPanel:hover {
    background-color: rgb(255, 233, 107);
    transition: .5s;
}

.driverPanel {
    background-color: #fb7d32;
    padding: -50px;
    text-align: center;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.driverPanel:hover {
    background-color: #ff9152;
    transition: .5s;
}

.topRow {
    margin-top: 40px;
}

.nav-item {
    padding: 20px;
}

.navbar {
    background-color: gold;
    margin-bottom: 30px;
}

.noMatch {
    text-align: center;
}

.submitBtn {
    background-color: gold;
    border-radius: 5px;
}

.logOutBtn {
    float: right;
    color: purple;
}

.signInStatus {
    float: right;
    width: 45%;
}

.backBtn {
    background-color: gold;
    border-radius: 5px;
    margin-bottom: 20px;
}

.jobForm {
    padding: 5px;
    margin-bottom: 18px;
    width: 100%;
}

.jobCtitle {
    margin: 20px;
    text-align: center;
}

.jobTitle {
    margin: 20px;
}

.jobBtn {
    width: 200px;
}

.heading {
    background-color: white;
    border: solid;
    border-width: 2px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 8px;
}

.jobBtnBar {
    font-size: larger;
}

.jobCard {
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 10px;
}

.logo {
    width: 100px;
    top: 5px;
    left: 46%;
    right: 54%;
    position: absolute;
}

.managerCheck {
    text-align: center;
}