* {
    font-family: "arial"
}

#alert {
    display: none;
}

.loginForm {
    border: solid;
}

.signupForm {
    border: solid;
}

.managerCheck {
    text-align: center;
}

.managerIntro {
    background-color: red;
    text-align: center;
}

.driverIntro {
    background-color: green;
    text-align: center;
}

.driverBody {
    text-align: center;
}

.introduction {
    text-align: center;
}


.nav-item {
    padding: 20px;
}

.navbar {
    background-color: gold;
    margin-bottom: 30px;
}

.noMatch {
    text-align: center;
}